*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ' Roboto', sans-serif;
}
.page{
  background-image: url('../assets/team.jpg');
  background-size: 50%;
  background-position: right 150px;
  background-repeat: no-repeat;
}
header{
	display: flex;
	align-items: flex-start;
	background-color: #ffffff;
    padding: 40px;
    text-decoration: none;
}
.logo{
    font-size: 30px;
    color: rgb(221, 150, 17);
    text-decoration: none;
}
.menu{
	list-style: none;	
	display: flex;
    padding: 8px 20px;
	justify-content: flex-end;
	width: 100%;
    gap: 30px;
    font-size: 20px;
}
.menu a{
    color: black;
    text-decoration: none;
}